{% layout "layout.liquid" %}
{% block content %}
    {% if session.groupName %}
        <h1>Set Lists by {{session.groupName}}</h1>
        {% if lists.length > 0 %}
            <div class="row justify-content-center mb-4">
                {% for list in lists %}
                    <div class="card">
                        <a href="/lists/{{list.id}}" class="card-header"><h2>{{ list.name }}</h2></a>
                        <div class="card-body" style="background-color: rgb(50,50,50)">
                            {% if list.seconds != "" %}
                                <h4 class="mb-3">{{list.minutes}}{{- ":" -}}
                                {% if list.seconds < 10 %}
                                    {{- "0" -}}{{- list.seconds -}}
                                {% else %}
                                    {{- list.seconds -}}
                                {% endif %}
                                </h4>
                            {% endif %}
                            <p>{{list.description}}</p>
                            <h5>Songs: {{list.listContents.length}}</h5>
                            {% if list.notes.length > 0 %}
                                <h6 style="color: rgb(254,81,74)">Notes: {{list.notes.length}}</h6>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h3>No set lists yet, how about creating one?</h3>
        {% endif %}
        <a class="btn btn-warning mt-4" href="/lists/new">New Set List</a>        
    {% else %}
        <h1>Work as one of your groups to view set lists.</h1>
        <a class="btn btn-warning" href="/groups">Your Groups</a>
    {% endif %}

{% endblock %}