{% layout "layout.liquid" %}
{% block content %}

    <div style="text-align: center">
       <h1>{{list.name}}</h1>
       {% if list.seconds != "" %}
            <h2>Length: {{list.minutes}}{{- ":" -}}
            {% if list.seconds < 10 %}
                {{- "0" -}}{{- list.seconds -}}
            {% else %}
                {{- list.seconds -}}
            {% endif %}
            </h2>
       {% endif %}
       <hr>
       <h5>{{list.description}}</h5>
       <hr>
       <ol>
            {% if songsArray.length > 0 %}
                    {% for song in songsArray %}
                        <li>
                            <div class="card mb-4">
                                <h5>{{song.name}}</h5>
                            {%- comment -%} Display length in format 0:00 {%- endcomment -%}
                                <h6>Length: {{song.minutes}}{{- ":" -}}
                                    {% if song.seconds < 10 %}
                                        {{- "0" -}}{{- song.seconds -}}
                                    {% else %}
                                        {{- song.seconds -}}
                                    {% endif %}
                                </h6>
                                {% if song.soloist != "" %}
                                    <h6>Featuring {{song.soloist}}</h6>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
            {% else %}
                    <h4>No songs in this list yet.</h4>
            {% endif %}
       </ol>
       <hr>
       {% if list.owner == session.groupId %}
            <div class="btn-group-lg">
                    <a class="btn btn-success" href="/lists/songs/{{list.id}}">Add/Remove Songs</a>                
                    <a class="btn btn-primary" href="/lists/edit/{{list.id}}">Edit List</a>
                    <a class="btn btn-danger" href="/lists/delete/{{list.id}}">Delete List</a>
            </div>
       {% endif %}
    </div>

{% endblock %}