{% block content %}
{%- comment -%} A function to make elements toggle the display of other elements {%- endcomment -%}
<script>
function toggleDisplay(id) {
   let isDisplayNone = document.getElementById(id).style.display === "none"
   document.getElementById(id).style.display = isDisplayNone ? "flex" : "none"
}
</script>

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid">
        {%- comment -%} <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <img src="https://i.imgur.com/cg6rOb0.png" style="height: 30px">
        </button> {%- endcomment -%}
        <a href="/" class="navbar-brand">setList</a>
        {% if session.loggedIn %}
        {%- comment -%} User image or placeholder to trigger dropdown user menu {%- endcomment -%}
            <img id="user-image" onclick="toggleDisplay('user-menu')" alt="user image" title="user menu" class="me-4" src="
            {% if session.userImg and session.userImg != "" %}
                {{session.userImg}}
            {% else %}
                https://i.imgur.com/lyojELY.png
            {% endif %}
            ">

    {%- comment -%} Group image or group name to represent working as group {%- endcomment -%}
            {% if session.groupImg and session.groupImg != "" %}
                <img class="working-group" src="{{session.groupImg}}" alt="{{session.groupName}} logo" title="{{session.groupName}}" style="height: 40px; border-radius: 50%">
            {% else if session.groupId %}
                <p class="text-light working-group">{{session.groupName}}</p>
            {% endif %}


        {% endif %}
        {%- comment -%} <div class="collapse navbar-collapse justify-content-end" id="navCollapse">
            {% if session.loggedIn %}
                {% if session.groupId %}
                    <a href="/songs/new" class="nav-link text-light">New Song</a>
                    <a href="/lists/new" class="nav-link text-light">New List</a>
                    <a href="/songs" class="nav-link text-light">All Songs</a>                    
                    <a href="/lists" class="nav-link text-light">All Lists</a>                    
                {% endif %}
            {% else %}
                <a href="/user/signup" class="nav-link text-light">Sign Up</a>
                <a href="/user/login" class="nav-link text-light">Log In</a>
            {% endif %}
        </div> {%- endcomment -%}
    </div>
</nav>
<div id="user-menu" style="display: none">
    <a href="/user/edit/{{session.userId}}" class="mt-3 user-menu-link"><img class="user-menu-icon" alt="icon" src="https://i.imgur.com/I9Zk5ie.png">Edit Profile</a> 
    <a href="/groups" class="mt-3 user-menu-link""><img class="user-menu-icon" alt="icon" src="https://i.imgur.com/wpmU1vc.png">Your Groups</a>                 
    <a href="/groups/new" class="mt-3 user-menu-link""><img class="user-menu-icon" alt="icon" src="https://i.imgur.com/t5SbqC8.png">New Group</a>
    <a href="/user/logout" class="mt-3 user-menu-link""><img class="user-menu-icon" alt="icon" src="https://i.imgur.com/RalTz7D.png">Log Out</a> 
</div>
{% endblock %}