{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <img src="https://i.imgur.com/cg6rOb0.png" style="height: 30px">
        </button>
        <a href="/" class="navbar-brand">setList</a>        
        {% if session.loggedIn %}
            {% if session.groupImg and session.groupImg != "" %}
                <a href="/groups/{{session.groupId}}"><img src="{{session.groupImg}}" alt="{{session.groupName}} logo" style="height: 40px"></a>
            {% else if session.groupId %}
                <a href="/groups/{{session.groupId}}" class="nav-link text-light">{{session.groupName}}</a>
            {% endif %}
            <a href="/groups" class="nav-link text-light">{{session.username}}'s groups</a>            
        {% endif %}
        <div class="collapse navbar-collapse justify-content-end" id="navCollapse">
            {% if session.loggedIn %}
                {% if session.groupId %}
                    <a href="/songs/new" class="nav-link text-light">New Song</a>
                    <a href="/lists/new" class="nav-link text-light">New List</a>
                    <a href="/lists" class="nav-link text-light">All Lists</a>
                {% endif %}
                <a href="/groups/new" class="nav-link text-light">New Group</a>
                <a href="/user/logout" class="nav-link text-light">Log Out</a>                
            {% else %}
                <a href="/user/signup" class="nav-link text-light">Sign Up</a>
                <a href="/user/login" class="nav-link text-light">Log In</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}