{% block content %}
    <div class="card mb-4 shadow">
        <div class="card-body">
            <h5 class="mb-3">{{ note.message }}</h5>
            <div>                
                {% if note.author == session.userId %}
                    <form style="position: absolute; bottom: 5px; left: 5px" action="/notes/delete/{{songOrList.id}}/{{note.id}}?_method=DELETE" method="POST">
                        <button title="Delete Note" class="note-x" type="submit">x</button>
                    </form>
                {% endif %}
                <div style="text-align: right">
                    <small style="color: rgb(255,175,9)">{{ note.author.username }}</small>
                    <br>
                    <small>{{note.date}}</small>
                </div>
            </div>      
        </div>
    </div>
{% endblock %}