{% layout "layout.liquid" %}
{% block content %}

  <div class="container-sm">
    <form method="POST" action="/groups/{{group.id}}?_method=PUT">
      <fieldset>
        <legend>Edit {{group.name}}</legend>
        <label class="form-label">Group Name:</label>
        <input class="form-control-plaintext mb-4" type="text" name="name" value="{{group.name}}" required>
        <label class="form-label">Image Link (optional):</label>
        <input class="form-control-plaintext mb-4" type="url" name="img" value="{{group.img}}" required>
        <label class="form-label">Group Members (email addresses, comma-separated):</label>
        <input class="form-control-plaintext mb-4" type="email" name="members" 
        value="{{group.members | join: ","}}" multiple>
      </fieldset>
      <input class="btn btn-success" type="submit" value="Update Group">
    </form>
  </div>

{% endblock %}