{% layout "layout.liquid" %}
{% block content %}
    <h1 style="text-align:center">Your Groups:</h1>
    <div class="row">
        {% for group in groups %}
          <div class="card" style="width: 300px; text-align: center; background-color: rgb(50,50,50)">
            <h4 class="card-header">{{ group.name }}</h4>
            <div class="card-body" style="background-color: rgb(50,50,50)">
                {% if group.img %}
                    <img class="group-card-img mb-4" alt="{{group.name}} profile photo" src="{{group.img}}">
                {% endif %}   
                <a class="btn btn-outline-info" href="/groups/{{group.id}}">
                View
                {{group.name}}
              </a>
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock %}