{% layout "layout.liquid" %}
{% block content %}

    <div style="text-align: center">
       <h1>{{group.name}}</h1>
       <img class="mb-4" src="{{group.img}}" style="max-height: 350px">
       <br>
        {% if session.groupId == group.id %}
            <a class="btn btn-warning me-2" href="/songs">View Songs</a>
            <a class="btn btn-warning" href="/lists">View Lists</a>        
        {% else %}
            <form action="/groups/{{group.id}}" method="POST">
                <input class="btn btn-warning mt-4" type="submit" value="Work as {{group.name}}">
            </form>
        {% endif %} 
        <hr>
        <h4 class="mb-4">{{group.members.length}} Members:</h4>
        {% for member in memberArray %}
                <h5>{{member}}</h5>
        {% endfor %}
        {% if memberArray.length < group.members.length %}
            <h5>Not all members have created accounts</h5>
        {% endif %}
        
          
       <hr>
       {% if group.owner == session.userId %}
       <div class="btn-group-md">
            <a class="btn btn-warning me-3" href="/groups/edit/{{group.id}}">Edit Group</a>
            <a class="btn btn-danger" href="/groups/delete/{{group.id}}">Delete Group</a>
       </div>
       {% endif %}
    </div>

{% endblock %}