{% layout "layout.liquid" %}
{% block content %}
    {% if session.groupName %}
        <h1 style="text-align: center">{{session.groupName}}'s Songs</h1>
        {% if songs.length > 0 %}
            <div>
            <div class="row justify-content-center">
                {% for song in songs %}
                <div class="card">
                    <h5 class="card-header">{{song.name}}</h5>
                    <div class="card-body">
                        <h5 class="card-text">Length: {{song.minutes}}{{- ":" -}}
                            {% if song.seconds < 10 %}
                                {{- "0" -}}{{- song.seconds -}}
                            {% else %}
                                {{- song.seconds -}}
                            {% endif %}
                        </h5>
                        <a class="btn btn-outline-info" href="/songs/{{song.id}}">View {{song.name}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        {% else %}
            <div class="row justify-content-center">
                <h5 style="text-align: center">{{session.groupName}} doesn't have songs yet, time to add some!</h5>
                <a class="btn btn-warning" style="width: 110px" href="/songs/new">New Song</a>
            </div>
        {% endif %}
    {% else %}
        <h2>Choose a group to view songs</h2>
        <a class="btn btn-success" href="/groups">Your Groups</a>
    {% endif %}
{% endblock %}